:root {
  /* Colors */
  --primaryColor: #7205e6;
  --accentColor: #9753df;
  --secondaryColor: #b68ce3;
  --textColor: #eae7ee;
  --bgColor: #140b1d;

  /* Colors */
  --round: 10px;

  /* Space */
  --whiteSpace: 1.5rem;
  --itemGap1: 1rem;
  --itemGap2: 2rem;
  --itemGap3: 3rem;
  --lineSpace: 1.5;

  /* Layout */
  --gutter: 3.5rem;
  --whiteSpaceBtnCTA: 2.5rem;
  --whiteSpaceNavItems: 1.5rem;
  --sectionPadding: 4rem;
  --contentPadding: 1rem;

  /* Navbar */
  --navWidth: 96px;
}

@media (prefers-color-scheme: light) {
}
